.jumbotron {
    margin: 0 auto;
    background-color: darkseagreen;
    width: 850px;
}
h1 {
    text-align: center;
    margin-top: -15px;
}
input#leave {
    margin-right: 60px;
}

input#hit{
    margin-right: 10px;
}
.form-horizontal {
    margin-left: 50px;
}
.form-control{
    width: 500px;
    position: relative;
}


#error, #error1, #error2, #error3, #error4{
    font-size: 15px;
    color: blue;
    float: right;
    
}



.invalid {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
 box-shadow:0 0 5px 1px blue;
	
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
    
.nation {
    margin-left: 300px;
}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    